.country {
    border: 2px solid steelblue;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    width: 350px;
}

.flags-style {
    width: 250px;
    height: 180px;
}

.country-visited {
    background-color: darkkhaki;
    color: black;
}